nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: #8648c4;
}

.nav1{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:50%;
}

.nav1 ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.nav1 ul li{
    list-style: none;
}

.nav1 ul li a{
    text-decoration: none;
    color:black;
    font-size:var(--fsize2);
    font-weight: 500;
}

.nav1 ul li a:hover{
   color: rgb(87, 0, 168);
}

.nav1 p{
    font-size:2rem;
    font-weight: bolder;
}

#h_cnt{
    width:var(--width);
    margin: var(--a_margin);
    text-align: center;
    margin-top: 25px;
}

#h_cnt h1{
    font-size: 3rem;
}
#h_cnt p{
    font-size: 1rem;
}

.info{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:var(--width);
    margin: var(--a_margin);
    margin-top: 5rem;
    border-bottom:2px solid black;
    padding-bottom: 30px;
    margin-bottom: 60px;
}

.our_detail{
    display: grid;
    grid-template-columns: 230px 230px;
    gap: 2rem;
    height: 40rem;
    border: 2px solid black;
    padding: 1.5rem;
    background-color: rgb(145 112 193);
    border-radius: 20px;
}

.your_detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    border: 2px solid black;
    height: 40rem;
    padding: 3rem;
    padding-bottom: 10rem;
    background-color: rgb(145 112 193);
    border-radius: 20px;
}



.od{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:15rem;
    border: 2px solid black;
    text-align: center;
    background-color: #c992ff;
    border-radius: 20px;
}

.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 2.5rem;
}

#od2 #sub3{
    font-size: .9rem;
}


.input{
    font-family: "Poppins", serif;
    border-radius: 20px;
    height: 2.5rem;
    width: 20rem;
    margin: 10px;
    padding: 1rem;
    border: 2px solid black;
    font-size: medium;
    background-color: #c992ff;
   
}
#inp5{
    width: 5rem;
    padding: 2px;
    
}
#TA{
    font-family: "Poppins", serif;
    border-radius: 20px;
    height: 9rem;
    width: 20rem;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    font-size: medium;
    background-color: #c992ff;
}

footer{
    margin-top: 2rem;
    padding-top: 2rem;
    background-color: #8648c4;
    color: white;
}

.f1{
    text-align: center;
}
.f1 p{
    width:60%;
    margin:auto;
    font-size: larger;
    font-weight: 500;
}

.f2{
    margin-top:1rem;
}
.f3{
    margin-top:1rem;
    text-align: center;
    margin-bottom:1rem;
}

.f3 .f_btn{
    padding:4px;
    font-size: 1rem;
    outline: 2px solid black;
    width:80px;
    border-radius:50px;
    margin-left:10px;
    cursor: pointer;
    background-color: #0d2744;

}



.f3 a{
    text-decoration: none;
    font-family: "Poppins", serif;
    color: #11cbe9;
}

.f4{
    border-top: 2px solid black;
    margin-top: 10px;
    font-size: large;
    text-align: center;
    padding: 10px;
    
}
.f4 span{
    color: #11cbe9;
    font-size: larger;
}