@media(max-width:1200px) {
    .info {
        flex-direction: column;
    }
    .our_detail {
        margin-top: 3rem;
        order: 2;
    }
}
@media(max-width:950px) and (min-width:550px) {
    nav {
        flex-direction: column;
        justify-content: space-evenly;
        height: 10rem;
    }

    .nav1 ul {
        width: 90%;
    }

    .nav1 {
        flex-direction: column;
    }
    #content {
        flex-direction: column;
    }
    #content p{
        order: 2;
        font-size: 1rem;
        padding: 2rem;
    }
    #content img {
        width: 60%;
    }
    .h_place{
        text-align: center;
    }
    .place {
        width: 60%;
        flex-direction: column;
        gap:20px;
    }
    .place>div {
        font-size: medium;
        width: 100%;
    }
    .founder {
        flex-direction: column;
    }
    .founder img {
        width: 40%;
        border-radius: 17rem;
        margin-bottom: 2rem;
    }
    .qlf {
        width: 100%;
        font-size: .9rem;
    }
    .your_detail {
        width:80%;
    }
}



@media(max-width:550px) {
    nav {
        flex-direction: column;
        justify-content: space-evenly;
        height: 10rem;
    }

    .nav1 ul {
        width: 90%;
    }

    .nav1 {
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
    }

    #srch {
        width: 10rem;
        font-size: .8rem;
    }

    #srch_btn {
        width: 4rem;
        font-size: .8rem;
    }
    #content {
        flex-direction: column;
    }
    #content p{
        order: 2;
        font-size: 1rem;
        padding: .7rem;
    }
    #content img {
        width: 60%;
    }
    .place {
        width: 60%;
        flex-direction: column;
        gap:20px;
    }
    .place>div {
        font-size: small;
        width: 100%;
    }
    .place img {
        width: 10rem;
    }
    .founder {
        flex-direction: column;
    }
    .founder img {
        width: 40%;
        border-radius: 17rem;
        margin-bottom: 2rem;
    }
    .qlf {
        width: 100%;
        font-size: .9rem;
    }
    .your_detail {
        width:80%;
    }
    .input {
        width: 10rem;
        font-size: smaller;
    }
    #TA {
        width: 14rem;
        font-size: smaller;
    }
    .our_detail {
        grid-template-columns: 230px;
        height: 100%;
    }
    .desc p {
    padding: .5rem;
    font-size: small;
    }
}

@media(max-width:350px){
    #content img {
        width: 95%;
    }
    #content p {
        padding: .5rem;
    }
    .place>div {
        font-size: smaller;
        width: 100%;
    }
    .place img {
        width: 6rem;
    }
    .f3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .f3 .f_btn {
        margin-top: 1rem;
    }
    .input {
        width: 6rem;
        font-size: smaller;
    }
    #TA {
        width: 8rem;
        font-size: smaller;
    }
    .our_detail {
        grid-template-columns: 210px;
        
    }
    .desc p {
    padding: .5rem;
    font-size: small;
    }
  
}
