nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: #8648c4;
}

.nav1{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:50%;
}

.nav1 ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.nav1 ul li{
    list-style: none;
}

.nav1 ul li a{
    text-decoration: none;
    color:black;
    font-size:var(--fsize2);
    font-weight: 500;
}

.nav1 ul li a:hover{
   color: rgb(87, 0, 168);
}

.nav1 p{
    font-size:2rem;
    font-weight: bolder;
}
.search{
    width: 30%;
    display: flex;
    display: none;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
}

#srch{
    height: .5rem;
    width: 17rem;
    font-family: "Poppins", serif;
    padding: 18px;
    font-size: var(--fsize);
    border-radius: 20px;
    outline:2px solid black;
}

#srch_btn{
    height: 2.4rem;
    width: 5rem;
    font-family: "Poppins", serif;
    font-size: var(--fsize);
    border-radius: 20px;
    cursor: pointer;
    outline:2px solid black;
    background-color: #164478;
    color: #11cbe9;
}

.H_card{
    width:var(--width);
    margin: var(--a_margin);
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.cards{
    width:var(--width);
    margin: var(--a_margin);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 0.7fr));
    gap: 2.5rem;
    padding-bottom: 30px;
    border-bottom: 2px solid black;
    margin-bottom: 3rem;
    padding-bottom: 4rem;
}

.card{
    border:2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20rem;
    background-color: rgb(145 112 193);
    border-radius: 10px;

}

.card .card_img{
    width:var(--width);
    margin: var(--a_margin);
    height: 55%;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: .5rem;
}

.card .card_p{
    width:var(--width);
    margin: var(--a_margin);
    height: 35%;
}

.H_place{
    width:var(--width);
    margin: var(--a_margin);
    margin-top: 4rem;
    margin-bottom: 3.2rem;
}

.places{
    width:var(--width);
    margin: var(--a_margin);
    margin-top: 50px;
    margin-bottom: 4rem;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    padding-bottom: 30px;
    border-bottom: 2px solid black;
    row-gap: 2rem;
}

.place{
    width:var(--width);
    margin: var(--a_margin);
    display:flex;
    align-items:center;
    justify-content: space-around;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(145 112 193);
}
.place img{
    width: 16rem ;
    border-radius: 10px
}
.place>div{
    font-size: larger;
    width: 60% ;
}

footer{
    margin-top: 2rem;
    padding-top: 2rem;
    background-color: #8648c4;
    color: white;
}

.f1{
    text-align: center;
}
.f1 p{
    width:60%;
    margin:auto;
    font-size: larger;
    font-weight: 500;
}

.f2{
    margin-top:1rem;
}
.f3{
    margin-top:1rem;
    text-align: center;
    margin-bottom:1rem;
}

.f3 .f_btn{
    padding:4px;
    font-size: 1rem;
    outline: 2px solid black;
    width:80px;
    border-radius:50px;
    margin-left:10px;
    cursor: pointer;
    background-color: #0d2744;

}



.f3 a{
    text-decoration: none;
    font-family: "Poppins", serif;
    color: #11cbe9;
}

.f4{
    border-top: 2px solid black;
    margin-top: 10px;
    font-size: large;
    text-align: center;
    padding: 10px;
    
}
.f4 span{
    color: #11cbe9;
    font-size: larger;
}